{% extends "base.jinja" %}

{% block main %}
<p><b>Wie können Nachrichten personalisiert werden?</b></p>
<p>Die Nachrichten werden über die Template-Engine <a href="https://jinja.palletsprojects.com/en/3.1.x/templates/">Jinja
    2</a> gerendert.</p>
<p>Im Folgenden werden wir diese Beispielkonfiguration für die <code>contacts.yaml</code> verwenden:</p>
<pre>
<b>contacts:</b>
<b>- name:</b> Max
  <b>phone:</b> "+49123456789"
  <b>lang:</b> de
  <b>zitat:</b> Ich mag meine Templates roh.

<b>groups:</b>
<b>- name:</b> Familie
  <b>members:</b>
  <b>-</b> Max
  <b>zitat:</b> Wir haben keine Zitate.
</pre>

<p>Alle Einträge aus dieser Datei lassen sich einfach benutzen:</p>
<ul>
  <li><code>Hallo <b>{{ "{{" }} contact.name {{ "}}" }}</b>!</code> wird zu <code>Hallo Max!</code></li>
  <li><code>Deine Handynummer ist: <b>{{ "{{" }} contact.phone {{ "}}" }}</b>.</code> wird zu
    <code>Deine Handynummer ist: +49123456789.</code>
  </li>
  <li><code>Du sprichst gerne <b>{{ "{{" }} contact.lang {{ "}}" }}</b>!</code> wird zu
    <code>Du sprichst gerne de!</code></li>
  <li><code><b>{{ "{{" }} contact.zitat {{ "}}" }}</b></code> wird zu <code>Ich mag meine Templates roh.</code></li>
</ul>

<p>Diese Einträge waren alle unter dem Kontakt gespeichert. Wenn nun an eine Gruppe eine Nachricht geschrieben wird,
  werden zusätzlich noch die Gruppenvariablen zugänglich:</p>
<ul>
  <li><code>Du bist in der Gruppe <b>{{ "{{" }} group.name {{ "}}" }}</b>!</code> wird zu
    <code>Du bist in der Gruppe Familie!</code>
  </li>
  <li>
    <code>Diese Mitglieder sind in der Gruppe: <b>{{ "{%" }} for member in group.members {{ "%}" }}{{ "{{" }} member.name {{ "}}" }}, {{ "{%" }} endfor {{ "%}" }}</b></code>
    wird zu <code>Diese Mitglieder sind in der Gruppe: Max, </code>
  </li>
  <li><code>Das Gruppenzitat lautet: <b>{{ "{{" }} group.zitat {{ "}}" }}</b>.</code> wird zu
    <code>Das Gruppenzitat lautet: Wir haben keine Zitate..</code>
  </li>
</ul>
{% endblock main %}