{% extends "base.jinja" %}

{% block main %}
<p><b>{{ _("How can messages be personalized?") }}</b></p>
<p>The messages are rendered using the template engine Jinja 2.
  (<a href="https://jinja.palletsprojects.com/en/3.1.x/templates/">Jinja 2</a>)</p>
<p>The following example configuration will be used for contacts.yaml:</p>
<pre>
<b>contacts:</b>
<b>- name:</b> Max
  <b>phone:</b> "+4912345678901"
  <b>lang:</b> de
  <b>zitat:</b> Ich mag meine Templates roh.

<b>groups:</b>
<b>- name:</b> Familie
  <b>members:</b>
  <b>-</b> Max
  <b>zitat:</b> Wir haben keine Zitate.
</pre>

<p>{{ _("All entries from this file can be easily used:") }}</p>
<ul>
  <li><code>Hallo <b>{{ "{{" }} contact.name {{ "}}" }}</b>!</code> wird zu <code>Hallo Max!</code></li>
  <li><code>Deine Handynummer ist: <b>{{ "{{" }} contact.phone {{ "}}" }}</b>.</code> wird zu
    <code>Deine Handynummer ist: +4912345678901.</code>
  </li>
  <li><code>Du sprichst gerne <b>{{ "{{" }} contact.lang {{ "}}" }}</b>!</code> wird zu
    <code>Du sprichst gerne de!</code>
  </li>
  <li><code><b>{{ "{{" }} contact.zitat {{ "}}" }}</b></code> wird zu <code>Ich mag meine Templates roh.</code></li>
</ul>

<p>{{ _("These entries were all saved under the contact. When a message is sent to a group, group variables become accessible as well:") }}</p>
<ul>
  <li><code>Du bist in der Gruppe <b>{{ "{{" }} group.name {{ "}}" }}</b>!</code> wird zu
    <code>Du bist in der Gruppe Familie!</code>
  </li>
  <li>
    <code>Diese Mitglieder sind in der Gruppe: <b>{{ "{%" }} for member in group.members {{ "%}" }}{{ "{{" }} member.name {{ "}}" }}, {{ "{%" }} endfor {{ "%}" }}</b></code>
    wird zu <code>Diese Mitglieder sind in der Gruppe: Max, </code>
  </li>
  <li><code>Das Gruppenzitat lautet: <b>{{ "{{" }} group.zitat {{ "}}" }}</b>.</code> wird zu
    <code>Das Gruppenzitat lautet: Wir haben keine Zitate..</code>
  </li>
</ul>
{% endblock main %}