{% extends "base.jinja" %}

{% block main %}
<form action="{{ url_for('send') }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <p class="sender"><b>{{ _("Sender:") }}</b> {{ session.name }} <span class="phone">({{ session.phone }})</span></p>

  <label for="message_de">{{ _("Message (de):") }}</label>
  <textarea id="message_de" name="message_de" placeholder="Hallo {{ '{{' }} contact.name }}..."></textarea>
  <label for="message_en">{{ _("Message (en):") }}</label>
  <textarea id="message_en" name="message_en" placeholder="Hallo {{ '{{' }} contact.name }}..."></textarea>

  {% if groups %}<section class="groups">{% include "groups.jinja" %}</section>{% endif %}
  {% if contacts %}<section class="contacts">{% include "contacts.jinja" %}</section>{% endif %}

  <div class="button-group">
    <button class="button-success" type="submit">{{ _("Send") }}</button>
    <button class="button-error" type="reset">{{ _("Reset Fields") }}</button>
  </div>
</form>
{% endblock main %}