{% extends "base.jinja" %}

{% block main %}
<img id="qrcode" src="/link/qrcode.png" alt="QR Code" />
<p>Bitte scanne den QR Code mit Deiner Signal App und Dein Gerät zu verbinden.</p>
<p>Danach lade bitte die Seite neu oder klicke auf <a class="button" href="/">Weiter</a></p>
{% endblock main %}