{% extends "base.jinja" %}

{% block main %}
<img id="qrcode" src="/link/qrcode.png" title="{{ _("Scan QR Code") }}" alt="{{ _("Scan QR Code") }}" />
<p>{{ _("Please scan the QR code with your Signal app to connect your device.") }}</p>
<p>{{ _("Afterward, please refresh the page or click on Continue:") }} <a class="button" href="/">{{ _("Continue") }}</a></p>
{% endblock main %}