{% extends "base.jinja" %}

{% block main %}
<form action="/login" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <label for="username">{{ _("Username:") }}</label>
  <input id="username" name="username" type="text" placeholder="Max..." />
  <label for="password">{{ _("Password:") }}</label>
  <input id="password" name="password" type="password" placeholder="{{ _("Password:") }}..." />
  <div class="button-group">
    <button class="button-success" type="submit">{{ _("Login") }}</button>
  </div>
</form>
{% endblock main %}