{% extends "base.jinja" %}

{% block main %}
<form action="/unlink" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <p>Wenn Du die Verbindung zu Deinem Gerät löschst, wirst Du nicht mehr in der Lage sein über diese Anwendung
    Nachrichten zu verschicken.</p>
  <p>Weiterhin kannst Du über Deine Signal-App Nachrichten senden und empfangen.</p>
  <p>Nachdem Du die Verbindung zu Deinem Gerät gelöscht hast, wirst Du automatisch abgemeldet.</p>
  <button name="unlink-device" value="true" type="submit" class="button-danger">Verbindng zum Gerät löschen</button>
  <p>Wenn Du weiterhin Nachrichten über diese Anwendung verschicken können möchtest, melde Dich einfach ab.</p>
</form>
{% endblock main %}